# Entornos Virtuales
venv/
.venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos e Imágenes (Pesados)
dataset/
dataset_split/
test/
*.jpg
*.png
*.jpeg

# Pesos y Modelos (Demasiado grandes para Git)
# Se recomienda usar LFS si quieres subirlos, o descargarlos externamente
runs/
weights/
models/*.pt
*.onnx

# Configuración Personal
.env
.DS_Store

# Logs
yolo*.log
runs/classify/*/args.yaml
