# Repositorio extra para soporte GPU (RTX 40/50 serie)
--extra-index-url https://download.pytorch.org/whl/cu128

# Librerías Core de IA (con soporte CUDA)
torch
torchvision
torchaudio

# Entrenamiento e Inferencia (Ultralytics & ONNX)
ultralytics
onnx
onnxslim
onnxruntime-gpu

# Descarga y Procesamiento de Datos
icrawler
requests
Pillow
opencv-python-headless
numpy

# Interfaz y Despliegue (Local & Spaces)
gradio
huggingface-hub
python-dotenv
