# 🚀 Soporte GPU (RTX 40/50 serie)
--extra-index-url https://download.pytorch.org/whl/cu128

# 🧠 Core IA
torch
torchvision
ultralytics>=8.3.0

# ⚙️ Inferencia & Web (ONNX)
onnx
onnxslim
onnxruntime-gpu

# 📥 Datos & Procesamiento
icrawler
requests
Pillow
opencv-python-headless
numpy

# 🌐 Interfaz & Nube
gradio
huggingface-hub
python-dotenv
